huggingface-hub==0.0.8
jieba==0.42.1
ltp==4.1.5.post2
matplotlib==3.7.5
matplotlib-inline==0.1.7
networkx==3.1
pandas==2.0.2
stanfordcorenlp==3.9.1.1
stanza==1.4.0
torch @ file:///home/zy/down/torch-1.11.0%2Bcu113-cp38-cp38-linux_x86_64.whl
tqdm==4.65.0
transformers==4.7.0
tzdata==2023.3
urllib3==1.26.15
